In [1]:
import pandas as pd

In [17]:
x = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/x_train.csv")
y = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/y_train.csv")[['Drug']]
display(x.head(2)) ; display(y.head(2))

   ID  Age Sex      BP Cholesterol  Na_to_K
0   0   36   F  NORMAL        HIGH   16.753
1   1   47   F     LOW        HIGH   11.767

   Drug
0     0
1     3

In [18]:
from sklearn.model_selection import train_test_split

# 훈련세트와 테스트세트의 타겟 변수 비율 확인하기
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state = 42, test_size = 0.3)
t = pd.concat([y_train.value_counts(),y_test.value_counts()], axis = 1).rename(columns = {0: 'train', 1: 'test'}).reset_index()
t

   Drug  train  test
0     0     54    18
1     4     29    14
2     1     13     5
3     2      8     4
4     3      5     7

**비율이 맞지 않다.**

In [20]:
# 비율을 동등하게 맞춰서 훈련/테스트 세트 나누기
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state = 42, test_size = 0.3, stratify = y)
t = pd.concat([y_train.value_counts(),y_test.value_counts()], axis = 1).rename(columns = {0: 'train', 1: 'test'}).reset_index()
t

   Drug  train  test
0     0     50    22
1     4     30    13
2     1     13     5
3     2      8     4
4     3      8     4

**비율을 맞춰서 세트를 나눠주었다!** ```stratify = y``` **!**

In [22]:
import sklearn.tree
dir(sklearn.tree)[:10]

['BaseDecisionTree',
 'DecisionTreeClassifier',
 'DecisionTreeRegressor',
 'ExtraTreeClassifier',
 'ExtraTreeRegressor',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__']

In [23]:
import sklearn.ensemble
dir(sklearn.ensemble)[:10]

['AdaBoostClassifier',
 'AdaBoostRegressor',
 'BaggingClassifier',
 'BaggingRegressor',
 'BaseEnsemble',
 'ExtraTreesClassifier',
 'ExtraTreesRegressor',
 'GradientBoostingClassifier',
 'GradientBoostingRegressor',
 'HistGradientBoostingClassifier']